In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [27]:
# The float lenghts on a lot of these inputs is causing the output to end up in scientific notation
# Going to set a float cap to 3 decimal places for now. Can remove this if it's a problem.
pd.set_option('display.float_format', '{:.3f}'.format)
raw_df = pd.read_csv('nutritional-data.csv')

raw_df.shape

(89010, 61)

In [28]:
# Convert this to a long format so that we don't have a column for each year. 
# This drastically increases the number of rows, but makes the data much cleaner.
data_long = raw_df.melt(id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'],
                      var_name='Year',
                      value_name='Amount')

data_long.shape

(5073570, 6)

In [29]:
data_long.sample(15)

,Country Name,Country Code,Indicator Name,Indicator Code,Year,Amount
1097684,"Congo, Dem. Rep.",ZAR,"Population ages 45-49, female (% of female pop...",SP.POP.4549.FE.5Y,1972,3.812
2470518,Peru,PER,"School enrollment, tertiary (% gross)",SE.TER.ENRR,1987,26.466
955281,Oman,OMN,Share of women employed in the nonagricultural...,SL.EMP.INSV.FE.ZS,1970,NaN
4030758,Cabo Verde,CPV,"Health expenditure, public (% of GDP)",SH.XPD.PUBL.ZS,2005,3.650
317824,Kyrgyz Republic,KGZ,"Completeness of birth registration, rural (%)",SP.REG.BRTH.RU.ZS,1963,NaN
1099307,Cuba,CUB,"Improved sanitation facilities, urban (% of ur...",SH.STA.ACSN.UR,1972,NaN
1071710,Europe & Central Asia (IDA & IBRD countries),TEC,"Improved water source, urban (% of urban popul...",SH.H2O.SAFE.UR.ZS,1972,NaN
2578072,Uruguay,URY,"Population ages 25-29, male (% of male populat...",SP.POP.2529.MA.5Y,1988,7.390
297058,Costa Rica,CRI,"Age population, age 0, male, interpolated",SP.POP.AG00.MA.IN,1963,30568.000
1680987,Sweden,SWE,"Life expectancy at birth, male (years)",SP.DYN.LE00.MA.IN,1978,72.430
335883,Qatar,QAT,Number of neonatal deaths,SH.DTH.NMRT,1963,NaN
469679,Burkina Faso,BFA,"Immunization, Pol3 (% of one-year-old children)",SH.IMM.POL3,1965,NaN
164680,Spain,ESP,Female population 75-79,SP.POP.7579.FE,1961,280423.000
3189702,Solomon Islands,SLB,"Malnutrition prevalence, height for age, male ...",SH.STA.STNT.MA.ZS,1995,NaN
3166388,Kyrgyz Republic,KGZ,"Smoking prevalence, males (% of adults)",SH.PRV.SMOK.MA,1995,NaN

In [31]:
# There's still a lot of "NaN" in the Amount column so we drop those.

clean_long_df = data_long.dropna(subset=['Amount'])
clean_long_df.sample(15)

,Country Name,Country Code,Indicator Name,Indicator Code,Year,Amount
1779217,"Yemen, Rep.",YEM,"Age population, age 20, female, interpolated",SP.POP.AG20.FE.IN,1979,67540.000
4709412,Timor-Leste,TMP,Male population 20-24,SP.POP.2024.MA,2012,52700.000
779721,Poland,POL,"Age population, age 04, male, interpolated",SP.POP.AG04.MA.IN,1968,271573.000
683747,Mozambique,MOZ,Rural population,SP.RUR.TOTL,1967,8128566.000
4611531,Serbia,SRB,"Population ages10-14, male (% of male population)",SP.POP.1014.MA.5Y,2011,6.498
392257,Ethiopia,ETH,Urban population growth (annual %),SP.URB.GROW,1964,5.779
3633342,Singapore,SGP,"Life expectancy at birth, male (years)",SP.DYN.LE00.MA.IN,2000,76.000
3825524,Vietnam,VNM,Male population 30-34,SP.POP.3034.MA,2002,3173352.000
4831970,Cabo Verde,CPV,"Population ages 60-64, female (% of female pop...",SP.POP.6064.FE.5Y,2014,2.127
4182418,West Bank and Gaza,WBG,Tuberculosis case detection rate (all forms),SH.TBS.DTEC.ZS,2006,18.000
2465272,Nepal,NPL,Population ages 65 and above (% of total),SP.POP.65UP.TO.ZS,1987,3.470
187439,North America,NAC,Female population 20-24,SP.POP.2024.FE,1962,6590576.000
808853,Lower middle income,LMC,Male population 75-79,SP.POP.7579.MA,1969,2989019.000
650713,Channel Islands,CHI,"Age population, age 15, male, interpolated",SP.POP.AG15.MA.IN,1967,803.000
4648735,Belarus,BLR,Out-of-pocket health expenditure (% of total e...,SH.XPD.OOPC.TO.ZS,2012,19.462

In [33]:
# Figuring out the categegories we're working with.
unique_categories = sorted(clean_long_df['Indicator Name'].unique())
unique_categories

['% of females ages 15-49 having comprehensive correct knowledge about HIV (2 prevent ways and reject 3 misconceptions)',
 '% of males ages 15-49 having comprehensive correct knowledge about HIV (2 prevent ways and reject 3 misconceptions)',
 'AIDS estimated deaths (UNAIDS estimates)',
 'ARI treatment (% of children under 5 taken to a health provider)',
 'Adolescent fertility rate (births per 1,000 women ages 15-19)',
 'Adults (ages 15+) and children (0-14 years) living with HIV',
 'Adults (ages 15+) and children (ages 0-14) newly infected with HIV',
 'Adults (ages 15+) living with HIV',
 'Adults (ages 15+) newly infected with HIV',
 'Age at first marriage, female',
 'Age at first marriage, male',
 'Age dependency ratio (% of working-age population)',
 'Age dependency ratio, old',
 'Age dependency ratio, young',
 'Age population, age 0, female, interpolated',
 'Age population, age 0, male, interpolated',
 'Age population, age 01, female, interpolated',
 'Age population, age 01, male, interpolated',
 'Age population, age 02, female, interpolated',
 'Age population, age 02, male, interpolated',
 'Age population, age 03, female, interpolated',
 'Age population, age 03, male, interpolated',
 'Age population, age 04, female, interpolated',
 'Age population, age 04, male, interpolated',
 'Age population, age 05, female, interpolated',
 'Age population, age 05, male, interpolated',
 'Age population, age 06, female, interpolated',
 'Age population, age 06, male, interpolated',
 'Age population, age 07, female, interpolated',
 'Age population, age 07, male, interpolated',
 'Age population, age 08, female, interpolated',
 'Age population, age 08, male, interpolated',
 'Age population, age 09, female, interpolated',
 'Age population, age 09, male, interpolated',
 'Age population, age 10, female, interpolated',
 'Age population, age 10, male, interpolated',
 'Age population, age 11, female, interpolated',
 'Age population, age 11, male, interpolated',
 'Age population, age 12, female, interpolated',
 'Age population, age 12, male, interpolated',
 'Age population, age 13, female, interpolated',
 'Age population, age 13, male, interpolated',
 'Age population, age 14, female, interpolated',
 'Age population, age 14, male, interpolated',
 'Age population, age 15, female, interpolated',
 'Age population, age 15, male, interpolated',
 'Age population, age 16, female, interpolated',
 'Age population, age 16, male, interpolated',
 'Age population, age 17, female, interpolated',
 'Age population, age 17, male, interpolated',
 'Age population, age 18, female, interpolated',
 'Age population, age 18, male, interpolated',
 'Age population, age 19, female, interpolated',
 'Age population, age 19, male, interpolated',
 'Age population, age 20, female, interpolated',
 'Age population, age 20, male, interpolated',
 'Age population, age 21, female, interpolated',
 'Age population, age 21, male, interpolated',
 'Age population, age 22, female, interpolated',
 'Age population, age 22, male, interpolated',
 'Age population, age 23, female, interpolated',
 'Age population, age 23, male, interpolated',
 'Age population, age 24, female, interpolated',
 'Age population, age 24, male, interpolated',
 'Age population, age 25, female, interpolated',
 'Age population, age 25, male, interpolated',
 'Antiretroviral therapy coverage (% of people living with HIV)',
 'Antiretroviral therapy coverage for PMTCT (% of pregnant women living with HIV)',
 'Birth rate, crude (per 1,000 people)',
 'Births attended by skilled health staff (% of total)',
 'Cause of death, by communicable diseases and maternal, prenatal and nutrition conditions (% of total)',
 'Cause of death, by injury (% of total)',
 'Cause of death, by non-communicable diseases (% of total)',
 'Children (0-14) living with HIV',
 'Children (ages 0-14) newly infected with HIV',
 'Children orphaned by HIV/AIDS',
 'Children with fever receiving antimalarial drugs (% of children under age 5 with fever)',
 'Community health workers (per 1,000 people)',
 'Completeness of birth registration (%)',
 'Completeness of birth registration, rural (%)',
 'Completeness of birth registration, urban (%)',
 'Completeness of death registration with cause-of-death information (%)',
 'Comprehensive correct knowledge of HIV/AIDS, ages 15-24, female (2 prevent ways and reject 3 misconceptions)',
 'Comprehensive correct knowledge of HIV/AIDS, ages 15-24, male (2 prevent ways and reject 3 misconceptions)',
 'Condom use with non regular partner, % adults(15-49), female',
 'Condom use with non regular partner, % adults(15-49), male',
 'Condom use, population ages 15-24, female (% of females ages 15-24)',
 'Condom use, population ages 15-24, male (% of males ages 15-24)',
 'Consumption of iodized salt (% of households)',
 'Contraceptive prevalence, any methods (% of women ages 15-49)',
 'Contraceptive prevalence, modern methods (% of women ages 15-49)',
 'Death rate, crude (per 1,000 people)',
 'Demand for family planning satisfied by any methods (% of married women with demand for family planning)',
 'Demand for family planning satisfied by modern methods (% of married women with demand for family planning)',
 'Diabetes prevalence (% of population ages 20 to 79)',
 'Diarrhea treatment (% of children under 5 receiving oral rehydration and continued feeding)',
 'Diarrhea treatment (% of children under 5 who received ORS packet)',
 'Exclusive breastfeeding (% of children under 6 months)',
 'External resources for health (% of total expenditure on health)',
 'Female headed households (% of households with a female head)',
 'Female population 00-04',
 'Female population 05-09',
 'Female population 10-14',
 'Female population 15-19',
 'Female population 20-24',
 'Female population 25-29',
 'Female population 30-34',
 'Female population 35-39',
 'Female population 40-44',
 'Female population 45-49',
 'Female population 50-54',
 'Female population 55-59',
 'Female population 60-64',
 'Female population 65-69',
 'Female population 70-74',
 'Female population 75-79',
 'Female population 80+',
 'Fertility rate, total (births per woman)',
 'GNI per capita, Atlas method (current US$)',
 'Health expenditure per capita (current US$)',
 'Health expenditure per capita, PPP',
 'Health expenditure, private (% of GDP)',
 'Health expenditure, private (% of total health expenditure)',
 'Health expenditure, public (% of GDP)',
 'Health expenditure, public (% of government expenditure)',
 'Health expenditure, public (% of total health expenditure)',
 'Health expenditure, total (% of GDP)',
 'Health expenditure, total (current US$)',
 'Hospital beds (per 1,000 people)',
 'Immunization, BCG (% of one-year-old children)',
 'Immunization, DPT (% of children ages 12-23 months)',
 'Immunization, HepB3 (% of one-year-old children)',
 'Immunization, Hib3 (% of children ages 12-23 months)',
 'Immunization, Pol3 (% of one-year-old children)',
 'Immunization, measles (% of children ages 12-23 months)',
 'Improved sanitation facilities (% of population with access)',
 'Improved sanitation facilities, rural (% of rural population with access)',
 'Improved sanitation facilities, urban (% of urban population with access)',
 'Improved water source (% of population with access)',
 'Improved water source, rural (% of rural population with access)',
 'Improved water source, urban (% of urban population with access)',
 'Incidence of HIV (% of uninfected population ages 15-49)',
 'Incidence of tuberculosis (per 100,000 people)',
 'Infant and young child feeding practices, all 3 IYCF (% children ages 6-23 months)',
 'Labor force, female (% of total labor force)',
 'Labor force, total',
 'Life expectancy at birth, female (years)',
 'Life expectancy at birth, male (years)',
 'Life expectancy at birth, total (years)',
 'Lifetime risk of maternal death (%)',
 'Lifetime risk of maternal death (1 in: rate varies by country)',
 'Literacy rate, adult female (% of females ages 15 and above)',
 'Literacy rate, adult male (% of males ages 15 and above)',
 'Literacy rate, adult total (% of people ages 15 and above)',
 'Literacy rate, youth male (% of males ages 15-24)',
 'Literacy rate, youth total (% of people ages 15-24)',
 'Low-birthweight babies (% of births)',
 'Malaria cases reported',
 'Male population 00-04',
 'Male population 05-09',
 'Male population 10-14',
 'Male population 15-19',
 'Male population 20-24',
 'Male population 25-29',
 'Male population 30-34',
 'Male population 35-39',
 'Male population 40-44',
 'Male population 45-49',
 'Male population 50-54',
 'Male population 55-59',
 'Male population 60-64',
 'Male population 65-69',
 'Male population 70-74',
 'Male population 75-79',
 'Male population 80+',
 'Malnutrition prevalence, height for age (% of children under 5)',
 'Malnutrition prevalence, height for age, female (% of children under 5)',
 'Malnutrition prevalence, height for age, male (% of children under 5)',
 'Malnutrition prevalence, weight for age (% of children under 5)',
 'Malnutrition prevalence, weight for age, female (% of children under 5)',
 'Malnutrition prevalence, weight for age, male (% of children under 5)',
 'Maternal leave benefits (% of wages paid in covered period)',
 'Maternal mortality ratio (modeled estimate, per 100,000 live births)',
 'Maternal mortality ratio (national estimate, per 100,000 live births)',
 'Mortality caused by road traffic injury (per 100,000 people)',
 'Mortality rate, adult, female (per 1,000 female adults)',
 'Mortality rate, adult, male (per 1,000 male adults)',
 'Mortality rate, infant (per 1,000 live births)',
 'Mortality rate, infant, female (per 1,000 live births)',
 'Mortality rate, infant, male (per 1,000 live births)',
 'Mortality rate, neonatal (per 1,000 live births)',
 'Mortality rate, under-5 (per 1,000)',
 'Mortality rate, under-5, female (per 1,000)',
 'Mortality rate, under-5, male (per 1,000)',
 'Net migration',
 'Newborns protected against tetanus (%)',
 'Number of infant deaths',
 'Number of maternal deaths',
 'Number of neonatal deaths',
 'Number of people who are undernourished',
 'Number of surgical procedures (per 100,000 population)',
 'Number of under-five deaths',
 'Number of weeks of maternity leave',
 'Nurses and midwives (per 1,000 people)',
 'Out-of-pocket health expenditure (% of private expenditure on health)',
 'Out-of-pocket health expenditure (% of total expenditure on health)',
 'People practicing open defecation (% of population)',
 'People practicing open defecation, rural (% of rural population)',
 'People practicing open defecation, urban (% of urban population)',
 'Physicians (per 1,000 people)',
 'Population ages 0-14, female',
 'Population ages 0-14, male',
 'Population ages 00-04, female (% of female population)',
 'Population ages 00-04, male (% of male population)',
 'Population ages 00-14 (% of total)',
 'Population ages 00-14, female (% of total)',
 'Population ages 00-14, male (% of total)',
 'Population ages 00-14, total',
 'Population ages 05-09, female (% of female population)',
 'Population ages 05-09, male (% of male population)',
 'Population ages 10-14, female (% of female population)',
 'Population ages 15-19, female (% of female population)',
 'Population ages 15-19, male (% of male population)',
 'Population ages 15-64 (% of total)',
 'Population ages 15-64, female',
 'Population ages 15-64, female (% of total)',
 'Population ages 15-64, male',
 'Population ages 15-64, male (% of total)',
 'Population ages 15-64, total',
 'Population ages 20-24, female (% of female population)',
 'Population ages 20-24, male (% of male population)',
 'Population ages 25-29, female (% of female population)',
 'Population ages 25-29, male (% of male population)',
 'Population ages 30-34, female (% of female population)',
 'Population ages 30-34, male (% of male population)',
 'Population ages 35-39, female (% of female population)',
 'Population ages 35-39, male (% of male population)',
 'Population ages 40-44, female (% of female population)',
 'Population ages 40-44, male (% of male population)',
 'Population ages 45-49, female (% of female population)',
 'Population ages 45-49, male (% of male population)',
 'Population ages 50-54, female (% of female population)',
 'Population ages 50-54, male (% of male population)',
 'Population ages 55-59, female (% of female population)',
 'Population ages 55-59, male (% of male population)',
 'Population ages 60-64, female (% of female population)',
 'Population ages 60-64, male (% of male population)',
 'Population ages 65 and above (% of total)',
 'Population ages 65 and above, female',
 'Population ages 65 and above, female (% of total)',
 'Population ages 65 and above, male',
 'Population ages 65 and above, male (% of total)',
 'Population ages 65 and above, total',
 'Population ages 65-69, female (% of female population)',
 'Population ages 65-69, male (% of male population)',
 'Population ages 70-74, female (% of female population)',
 'Population ages 70-74, male (% of male population)',
 'Population ages 75-79, female (% of female population)',
 'Population ages 75-79, male (% of male population)',
 'Population ages 80 and older, female (% of female population)',
 'Population ages 80 and older, male (% of male population)',
 'Population ages10-14, male (% of male population)',
 'Population growth (annual %)',
 'Population, female',
 'Population, female (% of total)',
 'Population, male',
 'Population, male (% of total)',
 'Population, total',
 'Postnatal care coverage (% mothers)',
 'Poverty headcount ratio at national poverty line (% of population)',
 'Pregnant women receiving prenatal care (%)',
 'Pregnant women receiving prenatal care of at least four visits (% of pregnant women)',
 'Prevalence of HIV, female (% ages 15-24)',
 'Prevalence of HIV, male (% ages 15-24)',
 'Prevalence of HIV, total (% of population ages 15-49)',
 'Prevalence of anemia among children (% of children under 5)',
 'Prevalence of anemia among non-pregnant women (% of women ages 15-49)',
 'Prevalence of anemia among pregnant women (%)',
 'Prevalence of anemia among women of reproductive age (% of women ages 15-49)',
 'Prevalence of overweight (% of adults)',
 'Prevalence of overweight (% of children under 5)',
 'Prevalence of overweight, female (% of children under 5)',
 'Prevalence of overweight, female (% of female adults)',
 'Prevalence of overweight, male (% of children under 5)',
 'Prevalence of overweight, male (% of male adults)',
 'Prevalence of severe wasting, weight for height (% of children under 5)',
 'Prevalence of severe wasting, weight for height, female (% of children under 5)',
 'Prevalence of severe wasting, weight for height, male (% of children under 5)',
 'Prevalence of syphilis (% of women attending antenatal care)',
 'Prevalence of tuberculosis (per 100,000 population)',
 'Prevalence of undernourishment (% of population)',
 'Prevalence of wasting (% of children under 5)',
 'Prevalence of wasting, female (% of children under 5)',
 'Prevalence of wasting, male (% of children under 5)',
 'Primary completion rate, female (% of relevant age group)',
 'Primary completion rate, male (% of relevant age group)',
 'Primary completion rate, total (% of relevant age group)',
 'Public spending on education, total (% of GDP)',
 'Ratio of school attendance of orphans to school attendance of non-orphans ages 10-14',
 'Ratio of young literate females to males (% ages 15-24)',
 'Risk of catastrophic expenditure for surgical care (% of people at risk)',
 'Risk of impoverishing expenditure for surgical care (% of people at risk)',
 'Rural population',
 'Rural population (% of total population)',
 'Rural population growth (annual %)',
 'Rural poverty headcount ratio at national poverty lines (% of rural population)',
 'School enrollment, primary (% gross)',
 'School enrollment, primary (% net)',
 'School enrollment, primary, female (% gross)',
 'School enrollment, primary, female (% net)',
 'School enrollment, primary, male (% gross)',
 'School enrollment, primary, male (% net)',
 'School enrollment, secondary (% gross)',
 'School enrollment, secondary (% net)',
 'School enrollment, secondary, female (% gross)',
 'School enrollment, secondary, female (% net)',
 'School enrollment, secondary, male (% gross)',
 'School enrollment, secondary, male (% net)',
 'School enrollment, tertiary (% gross)',
 'School enrollment, tertiary, female (% gross)',
 'Sex ratio at birth (male births per female births)',
 'Share of women employed in the nonagricultural sector (% of total nonagricultural employment)',
 'Smoking prevalence, females (% of adults)',
 'Smoking prevalence, males (% of adults)',
 'Specialist surgical workforce (per 100,000 population)',
 'Survival to age 65, female (% of cohort)',
 'Survival to age 65, male (% of cohort)',
 'Teenage mothers (% of women ages 15-19 who have had children or are currently pregnant)',
 'Tuberculosis case detection rate (all forms)',
 'Tuberculosis death rate (per 100,000 people)',
 'Tuberculosis treatment success rate (% of new cases)',
 'Unemployment, female (% of female labor force)',
 'Unemployment, male (% of male labor force)',
 'Unemployment, total (% of total labor force)',
 'Unmet need for contraception (% of married women ages 15-49)',
 'Urban population',
 'Urban population (% of total)',
 'Urban population growth (annual %)',
 'Urban poverty headcount ratio at national poverty lines (% of urban population)',
 'Use of Intermittent Preventive Treatment of malaria, 2+ doses of SP/Fansidar (% of pregnant women)',
 'Use of any antimalarial drug (% of pregnant women)',
 'Use of insecticide-treated bed nets (% of under-5 population)',
 'Vitamin A supplementation coverage rate (% of children ages 6-59 months)',
 'Wanted fertility rate (births per woman)',
 "Women's share of population ages 15+ living with HIV (%)"]

In [40]:
# Filter the data for the specific indicator
indicator_name = "Mortality rate, adult, male (per 1,000 male adults)"
indicator_data = clean_long_df[clean_long_df['Indicator Name']
                               == indicator_name]

# Display the unique years available for this indicator
unique_years = indicator_data['Year'].unique()
print(f"Unique years available for {indicator_name}:")
print(unique_years)

# Display a sample of the data for this indicator to inspect the years and values
print(f"Sample data for {indicator_name}:")
print(indicator_data.sample(10))

Unique years available for Mortality rate, adult, male (per 1,000 male adults):
['1960' '1961' '1962' '1963' '1964' '1965' '1966' '1967' '1968' '1969'
 '1970' '1971' '1972' '1973' '1974' '1975' '1976' '1977' '1978' '1979'
 '1980' '1981' '1982' '1983' '1984' '1985' '1986' '1987' '1988' '1989'
 '1990' '1991' '1992' '1993' '1994' '1995' '1996' '1997' '1998' '1999'
 '2000' '2001' '2002' '2003' '2004' '2005' '2006' '2007' '2008' '2009'
 '2010' '2011' '2012' '2013' '2014']
Sample data for Mortality rate, adult, male (per 1,000 male adults):
                                         Country Name Country Code  \
54006                                      Luxembourg          LUX
3431556                                      Kiribati          KIR
2953731                           Antigua and Barbuda          ATG
4777746                                       Morocco          MAR
4873656                                          Peru          PER
4039791                              Egypt, Arab Rep.          EGY
1548546                                       Eritrea          ERI
2944071  Least developed countries: UN classification          LDC
4260246                                     St. Lucia          LCA
1022766                          Hong Kong SAR, China          HKG

                                            Indicator Name  Indicator Code  \
54006    Mortality rate, adult, male (per 1,000 male ad...  SP.DYN.AMRT.MA
3431556  Mortality rate, adult, male (per 1,000 male ad...  SP.DYN.AMRT.MA
2953731  Mortality rate, adult, male (per 1,000 male ad...  SP.DYN.AMRT.MA
4777746  Mortality rate, adult, male (per 1,000 male ad...  SP.DYN.AMRT.MA
4873656  Mortality rate, adult, male (per 1,000 male ad...  SP.DYN.AMRT.MA
4039791  Mortality rate, adult, male (per 1,000 male ad...  SP.DYN.AMRT.MA
1548546  Mortality rate, adult, male (per 1,000 male ad...  SP.DYN.AMRT.MA
2944071  Mortality rate, adult, male (per 1,000 male ad...  SP.DYN.AMRT.MA
4260246  Mortality rate, adult, male (per 1,000 male ad...  SP.DYN.AMRT.MA
1022766  Mortality rate, adult, male (per 1,000 male ad...  SP.DYN.AMRT.MA

         Year  Amount
54006    1960 210.625
3431556  1998 266.535
2953731  1993 193.910
4777746  2013 107.096
4873656  2014 154.434
4039791  2005 209.061
1548546  1977 608.086
2944071  1993 343.914
4260246  2007 180.191
1022766  1971 189.026